body {
  font-family: FreeMono, monospace;
  font-size: 30px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

.me{
  padding: 100 px;
}

.vuz{
  background-color: beige;
}

.sprafka{
  width: 60%;
}

.CinDzin{
  max-width: 350px;
  height: 234px;
  float: left;
  margin-right: 15px;;
  border-radius: 20px;
}

.table_A{
  border: 1px solid rgb(0 0 0);
  border-collapse: collapse;
}

.table_A th, tr, td {
  border: 1px solid rgb(0, 0, 0);

  width: 100px;
  height: 20px;
}

.table_B{
  border: 1px solid rgb(0 0 0);
  border-collapse: collapse;
}

.table_B td {
  border: 1px solid rgb(0, 0, 0);

  width: 50px;
  height: 50px;
}

.cell_aquamarine {
  background-color: aquamarine;
}

.cell_beige {
  background-color: beige;
}

.table_C td {
  border: 0px solid rgba(255, 255, 255, 0);
}

form {
  width: 50%;
}

label {
  margin: 5px;
}

input {
  margin: 3px;
}

select {
  margin: 3px;
}
